.container {
  background-color: var(--card-background-color);
  height: var(--header-total-height);
}

.fixed-container {
  background-color: var(--card-background-color);
  flex-direction: row;
  position: fixed;
  top: 0;
  height: var(--fixed-container-height);
  width: 100vw;
  z-index: 6;
}

.fixed-container-height-box {
  height: var(--fixed-container-height);
}

.title {
  color: black;
  font-size: calc(1.8 * var(--header-height-unit) * var(--title-font-size-factor));
  font-weight: bold;
  margin: calc(0.25 * var(--fixed-container-height)) 0;
  text-align: center;
  white-space: nowrap;
}

.fixed-container a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: fit-content;
}

.logo-container {
  --left: 12px;
  --offset: 0px;
  --height: calc(var(--header-total-height) - 2 * var(--top) - var(--offset));
  --top: 12px;
  left: var(--left);
  height: var(--height);
  position: fixed;
  top: var(--top);
  z-index: 7;
}

img {
  object-fit: scale-down;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  height: calc(1.2 * var(--subtitle-font-size));
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

cuf-navigation-pane {
  display: block;
  height: var(--navigation-height);
  margin: calc(1.2 * var(--page-body-font-size)) auto;
  min-width: 300px;
  width: 50vw;
}

cuf-profile-button {
  position: fixed;
  right: 0;
  top: calc(-0.07 * var(--fixed-container-height));
  z-index: 7;
}

/* navigation panel to the right of header for larger devices */
@media only screen and (max-width: 700px) {
  .fixed-container a, .subtitle {
    padding-right: 7vw;
  }

  .title {
    font-size: calc(1.6 * var(--header-height-unit) * var(--title-font-size-factor));
  }

  cuf-navigation-pane {
    height: 7vw;
    min-width: 7vw;
    margin: 0;
    max-height: min(calc(0.85 * var(--fixed-container-height)), 65);
    max-width: 7vw;
    padding: 0;
    position: absolute;
    right: calc(7vw + 18px);
    top: calc(0.1 * var(--fixed-container-height));
    width: 7vw;
    z-index: 6;
  }
  
  .buttons-fixed-container {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6;
  }
}

/* remove margin for smaller screens */
@media only screen and (max-width: 700px) {
  .margin {
    display: none;
  }
}