.cuf-form {
  display: block;

  .flex-wrapper {
    column-gap: 2em;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 fit-content;
    padding-bottom: 0.6em;
  }

  .form-submit-button {
    border: none;
    box-shadow: 1px 1px 0px rgb(90, 90, 90);
    cursor: pointer;
    display: block;
    font-size: var(--page-body-font-size);
    margin: 0.5em auto 0;
    padding: 5px 10px;
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
      box-shadow: 2px 2px 2px rgb(90, 90, 90);
    }

    &:active {
      bottom: -1px;
      box-shadow: 1px 1px 0px rgb(90, 90, 90);
      right: -1px;
      position: relative;
    }
  }

  .form-status-message {
    font-size: var(--size-medium);
    margin-top: 0.4em;
    text-align: center;
    width: 100%;

    &.hide {
      display: none;
    }

    &.success {
      color: green;
    }

    &.error {
      color: red;
    }
  }
}
