cuf-navigation-pane {
  --button-width: calc(3.4 * var(--navigation-height));
  display: inline-block;

  #button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    gap: var(--size-smaller);
    max-width: 100%;
    min-width: 100%;
    width: 100%;

    .button {
      color: var(--link-text-color);
      cursor: default;
      flex: 0 0 var(--button-width);
      font-size: calc(0.4 * var(--navigation-height));
      font-weight: bold;
      height: var(--navigation-height);
      line-height: var(--navigation-height);
      max-width: var(--button-width);
      min-width: var(--button-width);
      text-align: center;
      text-decoration: none;
      transition: box-shadow ease-out 150ms;
      width: var(--button-width);
      user-select: none;

      &:hover {
        box-shadow: inset 0 var(--navigation-height) 0 0 var(--navigation-hover-color);
      }

      &:hover:not(.current-el):not(.header-el) {
        cursor: pointer;
      }

      &.header-el {
        color: black;
        flex: 0 0 var(--navigation-height);
      }

      &.current-el {
        background-color: var(--navigation-current-color);
      }

      &.dropdown-el {
        background-color: var(--header-color);
        display: none;
        flex: 0 0 var(--navigation-height);
      }

      &.dropdown-el.current-el {
        background-color: var(--navigation-hover-color);
      }

      .label {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }

    .dropdown {
      --gap: 2px; // border size
      --num-items: 0; // set by component

      background-color: var(--header-color);
      display: flex;
      flex-flow: column nowrap;
      flex: 0 0 var(--button-width);
      height: 100%;
      max-width: var(--button-width);
      min-width: var(--button-width);
      width: var(--button-width);

      &.hovered, &:focus-within {
        box-shadow: 0px 0px 2px 2px rgba(60, 60, 60, 0.3);
        height: calc(var(--num-items) * 100% + (var(--num-items) - 1) * var(--gap));

        .button {
          display: block;

          &.dropdown-el {
            margin-top: var(--gap);
          }
        }
      }
    }

    > #hamburger {
      border-radius: 50%;
      margin: 0;
      outline: none;
      padding: 0;
      position: relative;
      z-index: 9;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.3);
      }

      &:focus {
        outline: blue 1px solid;
      }
    }

    > #background-grayed {
      background: rgba(0, 0, 0, 0.5);
      bottom: 0;
      display: none;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 7;
    }

    > #hamburger-sidebar {
      background-color: var(--card-background-color);
      box-shadow: 0 0 6px var(--card-box-shadow-color);
      bottom: 0;
      height: 100%;
      position: fixed;
      right: 0;
      top: 0;
      transition: all ease-out 200ms;
      width: 0px;
      z-index: 8;
    }
  }

  &.sidebar-open {
    > #button-wrapper {
      > #background-grayed {
        display: block;
      }

      > #hamburger-sidebar {
        --sidebar-width: calc(max(180px, min(350px, 35vw)));
        width: var(--sidebar-width);
      }
    }
  }
}

body.mobile {
  cuf-navigation-pane {
    > #button-wrapper {
      > #hamburger-sidebar {
        > #hamburger-button-wrapper {
          --hamburger-element-height: 30px;
          --hamburger-element-margin: 15px;
          display: flex;
          flex-flow: column nowrap;
          height: calc(100% - 3 * var(--size-title));
          gap: calc(0.2 * var(--navigation-height));
          margin-top: calc(3 * var(--size-title));
          width: 100%;

          .button {
            --button-width: calc(0.7 * var(--sidebar-width));
            background-color: rgba(150, 150, 150, 0.06);
            border-radius: calc(0.5 * var(--navigation-height));
            flex: 0 0 var(--navigation-height);
            margin-left: calc(0.1 * var(--sidebar-width));
            padding: 0 0.5em;

            &:active:not(.current-el):not(.header-el) {
              box-shadow: inset 0 var(--navigation-height) 0 0 var(--navigation-hover-color);
              cursor: pointer;
            }

            &.current-el {
              background-color: var(--navigation-current-color);
            }
          }

          .dropdown {
            background-color: transparent;
            box-shadow: none;
            height: 100%;

            .button {
              display: block;

              &.dropdown-el {
                margin-left: calc(0.2 * var(--sidebar-width));
                margin-top: 0px;
              }
            }
          }
        }
      }
    }
  }
}
