cuf-navigation-pane {
  --button-width: calc(3.4 * var(--navigation-height));

  #button-wrapper {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    gap: var(--size-smaller);
    max-width: 100%;
    min-width: 100%;
    width: 100%;

    .button {
      color: var(--link-text-color);
      cursor: default;
      flex: 0 0 var(--button-width);
      font-size: calc(0.4 * var(--navigation-height));
      font-weight: bold;
      height: var(--navigation-height);
      line-height: var(--navigation-height);
      max-width: var(--button-width);
      min-width: var(--button-width);
      text-align: center;
      text-decoration: none;
      transition: box-shadow ease-out 150ms;
      width: var(--button-width);
      user-select: none;

      &:hover {
        box-shadow: inset 0 var(--navigation-height) 0 0 var(--navigation-hover-color);
      }

      &:hover:not(.current-el):not(.header-el) {
        cursor: pointer;
      }

      &.header-el {
        color: black;
        flex: 0 0 var(--navigation-height);
      }

      &.current-el {
        background-color: var(--navigation-current-color);
      }

      &.dropdown-el {
        background-color: var(--header-color);
        display: none;
        flex: 0 0 var(--navigation-height);
      }

      &.dropdown-el.current-el {
        background-color: var(--navigation-hover-color);
      }

      .label {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }
    }

    .dropdown {
      display: flex;
      flex-flow: column nowrap;
      flex: 0 0 var(--button-width);
      height: 100%;
      max-width: var(--button-width);
      min-width: var(--button-width);
      width: var(--button-width);

      &.hovered {
        box-shadow: 0px 0px 2px 2px rgba(60, 60, 60, 0.3);

        .button {
          display: block;
        }
      }
    }
  }
}
