:root {
  --page-background-color: var(--card-background-color);
}

html, body {
  height: 100%;
}

body {
  background-color: var(--card-background-color);
  display: block;
  margin: 0;
}

.page-content {
  padding-left: 0px;
}

.container {
  margin-top: var(--header-height-unit);
  max-width: 100vw;
}

cuf-navigation-pane {
  display: block;
  height: calc(2 * var(--page-body-font-size));
  margin: calc(1.2 * var(--page-body-font-size)) auto;
  min-width: 300px;
  width: 50vw;
}