:root {
  --margin-size: 15px;
  --header-height-unit: max(2vh, 15px);
  --fixed-header-height: calc(var(--header-height-unit) * 0.5 + var(--margin-size));
  --max-width: 1400px;
  --left-margin-size: 10vw;
  --margin-color: rgb(120, 120, 255);
  --page-background-color: rgb(221, 221, 221);
  --card-background-color: rgb(221, 210, 200);
  --card-box-shadow-color: rgba(0, 0, 0, .5);
  --page-body-font-size: calc(12px + 0.5vw);
}

html, body {
  height: 100%;
}

body {
  background-color: var(--page-background-color);
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

.page-content {
  flex: 1 1 auto;
  justify-content: space-between;
  margin: var(--fixed-header-height) auto 0;
  max-width: var(--max-width);
  scroll-margin-top: var(--fixed-header-height);
  width: 90%;
}

.actual-content {
  background-color: var(--card-background-color);
  box-shadow: 0 0 6px var(--card-box-shadow-color);
  font-size: var(--page-body-font-size);
  margin-bottom: 20px;
  padding: 8px;
}

.page-title {
  color: rgb(100, 100, 200);
  font-size: 2.6em;
  padding-left: 4vw;
}

.section {}

.section-title {
  color: rgb(70, 70, 140);
  font-size: 1.8em;
  font-weight: 600; /* between normal and bold */
}

.section-subtitle {
  color: rgb(40, 40, 80);
  font-size: 1.4em;
  font-weight: normal;
}

.section-content {}

.no-list-style {
  list-style: none;
  padding-left: 10px;
}

li {
  margin-bottom: 0.3rem;
}

cuf-sidebar {
  max-width: 450px;
  min-width: 250px;
}

a:not(:focus-visible) {
  outline: none;
}

/* move sidebar to side for large enough devices */
@media only screen and (min-width: 750px) {
  .page-content {
    display: flex;
    flex-direction: row;
    min-width: 0;
  }

  .actual-content {
    flex: 2;
    margin-bottom: 0px;
    margin-right: 10px;
    min-width: 0;
  }

  cuf-sidebar {
    flex: 1;
  }
}

/* Hide recaptcha badge */
.grecaptcha-badge { 
  visibility: hidden;
}