.cuf-form-section {
  padding-bottom: 0.5em;
  padding-top: 0.5em;

  > #form-section-label {
    font-size: larger;
    padding-bottom: 0.3em;
    margin-left: 1em;
  }

  #form-section-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3em;
    padding-bottom: 0.6em;
  }

  /* Style 1 */

  &[ux='style1'] {
    > #form-section-label {
      padding-bottom: 0.6em;
    }
  }
}
