@import "../styles.css";

#test-suite {
  user-select: none;
}

.module-title.hovered:not(.blockhovered) {
  background-color: lightgray;
}

.expand-module {
  font-weight: normal;
  margin-right: 1em;
}

.run-module {
  cursor: pointer;
  border-radius: 0.5em;
  font-weight: normal;
  margin-left: 2em;
  padding: 0 0.5em;
}

.run-module.hovered {
  background-color: lightgray;
}

.run-module:active {
  background-color: gray;
}

.module-running {
  font-weight: normal;
  margin-left: 2.5em;
}

.module-result {
  font-weight: normal;
  margin-left: 2.5em;
}

.test-title {
  display: inline;
}

.run-test {
  border-radius: 0.5em;
  cursor: pointer;
  padding: 0 0.5em;
  margin-left: 2em;
}

.run-test:hover {
  background-color: lightgray;
}

.run-test:active {
  background-color: gray;
}

.test-running {
  margin-left: 2.5em;
}

.test-result {
  margin-left: 2.5em;
}