#donate-form-button {
  margin-top: 1rem;
}

#donate-form-status-message {
  margin-top: 1rem;
  display: none;
}

#donate-form-receipt-message {
  margin-top: 1rem;
  display: none;
}

.iframe-wrapper {
  height: auto;
  min-height: 100%;
  position: absolute;
  width: 90%;
}

iframe {
  width: 100%;
}
