@import "../styles.css";

#submit-form-button {
  margin-top: 1rem;
}

#contact-form-status-message {
  margin-top: 1rem;
  display: none;
}

#contact-form-receipt-message {
  margin-top: 1rem;
  display: none;
}