@import "../styles.css";

.flex-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 22px;
}

.form-section {
    padding-bottom: 12px;
    padding-top: 12px;
}

.form-section-label {
    font-size: larger;
    padding-bottom: 0.8rem;
    margin-left: 1rem;
}

.form-row {
    padding-bottom: 0.8rem;
}

.form-field {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

#name-prefix-wrapper {
    flex: 0 0 auto;
}

#name-first-wrapper {
    flex: 3 0 0;
}

#name-last-wrapper {
    flex: 3 0 0;
}

#name-suffix-wrapper {
    flex: 1 0 0;
}

#city-wrapper {
    flex: 1 0 0;
}

#state-wrapper {
    flex: 1 0 0;
}

#zip-wrapper {
    flex: 1 0 0;
}

#country-wrapper {
    flex: 1 0 0;
}

#phone-wrapper {
    flex: 1 0 0;
}

#email-wrapper {
    flex: 1 0 0;
}