#reset-password-form {
  margin: 3em auto 2em;
  min-width: 300px;
  width: 75%;
}

#send-email-status-message {
  margin-bottom: 1.3em;
}

.login-prompt {
  box-sizing: border-box;
  border-radius: 1em;
  color: black;
  font-size: 1.2rem;
  padding: 0.15em 0.4em;
  text-decoration: none;
}

.login-prompt:hover {
  background-color: rgb(225, 225, 225);
}
