.faith-facts-header-wrapper {
    text-align: center;
}

.faith-facts-header {
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    user-select: none;
}

.faith-facts-header:hover {
    text-decoration: underline;
}

#faith-fact-categories {
    overflow-x: scroll;
    white-space: nowrap;
}

.current-category {
    background-color: gray;
}

.category-link {
    color: darkblue;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    outline: none;
    overflow: hidden;
    padding: 1em;
    position: relative;
    text-align: center;
    user-select: none;
}

span.ripple {
    animation: ripple 700ms linear forwards;
    background-color: gray;
    border-radius: 50%;
    opacity: 100;
    position: absolute;
    transform: scale(0);
    z-index: -1;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 100;
  }
}

.category-link:hover:not(.current-category):not(:active) {
    background-color: lightgray;
}