.faith-facts-header-wrapper {
    text-align: center;
}

.faith-facts-header {
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    user-select: none;
}

.faith-facts-header:hover {
    text-decoration: underline;
}

#faith-fact-categories {
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
}

.current-category {
    background-color: gray;
}

.category-link {
    color: darkblue;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    outline: none;
    padding: 1em;
    text-align: center;
    user-select: none;
}

.category-link:hover:not(.current-category):not(:active) {
    background-color: lightgray;
}

.category-link:active {
    background-color: gray;
}