.container {
  background-color: var(--card-background-color);
  height: var(--header-total-height);
}

.fixed-container {
  background-color: var(--card-background-color);
  flex-direction: row;
  position: fixed;
  top: 0;
  height: var(--fixed-container-height);
  width: 100vw;
  z-index: 9;
}

.fixed-container-height-box {
  height: var(--fixed-container-height);
}

.title {
  color: black;
  font-size: calc(0.5 * var(--fixed-container-height) * var(--title-font-size-factor));
  font-weight: bold;
  margin: calc(0.25 * var(--fixed-container-height)) 0;
  text-align: center;
  white-space: nowrap;
}

.fixed-container a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: fit-content;
}

/* remove margin for smaller devices */
@media only screen and (max-width: 700px) {
  .margin {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: calc(var(--title-font-size-factor) * var(--fixed-container-height) * 0.7);
  }
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: calc(var(--title-font-size-factor) * var(--fixed-container-height) * 0.6);
  }
}
@media only screen and (max-width: 405px) {
  .title {
    font-size: calc(var(--title-font-size-factor) * var(--fixed-container-height) * 0.5);
  }
}
@media only screen and (max-width: 355px) {
  .title {
    font-size: calc(var(--title-font-size-factor) * var(--fixed-container-height) * 0.45);
  }
}

.logo-container {
  --left: 2px;
  left: var(--left);
  height: calc(var(--header-total-height) - 2 * var(--page-body-font-size));
  position: absolute;
  top: var(--page-body-font-size);
  z-index: 9;
}

img {
  object-fit: scale-down;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  height: calc(1.2 * var(--subtitle-font-size));
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

cuf-navigation-pane {
  display: block;
  height: var(--navigation-height);
  margin: calc(1.2 * var(--page-body-font-size)) auto;
  min-width: 300px;
  width: 50vw;
}