.container {
  --fixed-container-height: calc(var(--header-height-unit) * 5);
  --subtitle-font-size: calc(0.3 * var(--fixed-container-height) * var(--subtitle-font-size-factor));
  --header-total-height: calc(var(--fixed-container-height) + 2 * (var(--subtitle-font-size)));
  --title-font-size-factor: 1; /* For the homepage styling */
  --subtitle-font-size-factor: 1;
  background-color: var(--card-background-color);
  height: var(--header-total-height);
}

.fixed-container {
  background-color: var(--card-background-color);
  flex-direction: row;
  position: fixed;
  top: 0;
  height: var(--fixed-container-height);
  width: 100vw;
  z-index: 9;
}

.fixed-container-height-box {
  height: var(--fixed-container-height);
}

.title {
  color: black;
  font-size: calc(0.5 * var(--fixed-container-height) * var(--title-font-size-factor));
  font-weight: bold;
  margin: calc(0.25 * var(--fixed-container-height)) 0;
  text-align: center;
  white-space: nowrap;
}

.fixed-container a {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  width: fit-content;
}

cuf-navigation-pane {
  height: var(--navigation-height);
}

/* navigation panel below header for smaller devices */
/* If change media query must change in navigation_pane.css */
@media only screen and (max-width: 1200px) and (min-width: 700px) {
  .container {
    --fixed-container-height: calc(var(--header-height-unit) * 2);
    --header-total-height: var(--fixed-container-height);
    padding-bottom: var(--navigation-height);
  }
}

/* remove margin for smaller devices */
@media only screen and (max-width: 700px) {
  .margin {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: calc(var(--title-font-size-factor) * var(--fixed-container-height) * 0.7);
  }
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: calc(var(--title-font-size-factor) * var(--fixed-container-height) * 0.6);
  }
}
@media only screen and (max-width: 405px) {
  .title {
    font-size: calc(var(--title-font-size-factor) * var(--fixed-container-height) * 0.5);
  }
}
@media only screen and (max-width: 355px) {
  .title {
    font-size: calc(var(--title-font-size-factor) * var(--fixed-container-height) * 0.45);
  }
}

.logo-container {
  left: var(--left-auto-margin);
  height: calc(var(--header-total-height));
  position: absolute;
  top: var(--page-body-font-size);
  z-index: 9;
}

img {
  object-fit: scale-down;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.subtitle {
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  text-align: center;
}