cuf-edit-item {
  &.indent-1 {
    > #item-title {
      margin-left: 15%;
      width: 85%;
    }
    > #item-details {
      margin-left: 15%;
      width: 85%;
    }
  }

  > #item-title {
    box-sizing: border-box;
    border: none;
    font-size: var(--size-medium);
    margin: 0;
    padding: 0.3em;
    position: relative;
    text-align: center;
    width: 100%;

    &:not(:focus):not(:hover):not(:active) {
      background-color: rgb(230, 230, 230);
    }

    &.open {
      font-weight: bold;
    }

    > #title-label {
      float: left;
    }
  }

  > #item-details {
    --page-background-color: rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    box-sizing: border-box;
    padding: 1em;

    &:not(.show) {
      display: none;
    }

    > #details {
      display: grid;
      font-size: var(--size-large);
      gap: 0.4em 0.8em;
      grid-template-columns: max-content auto;
      margin: 1em 0;
      width: 100%;

      .name {
        text-align: right;
      }
    }

    > #buttons {
      display: flex;
      flex-flow: row nowrap;
      gap: 1em;
      width: 100%;

      > * {
        flex: 1 0 0;
        font-size: var(--size-medium);

        &#edit-button {
          background-color: rgb(220, 220, 20);

          &.open {
            box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.7);
            font-weight: bold;
          }
        }

        &#delete-button {
          background-color: rgb(250, 100, 100);
        }
      }
    }

    > #edit-form {
      margin-top: 2em;

      &:not(.show) {
        display: none;
      }

      > label {
        display: inline-block;
        margin-right: 1em;
      }

      > #file-input {
        margin-bottom: 2em;
        margin-top: 1em;
      }
    }

    > #status-message {
      font-size: var(--size-medium);
      margin-top: 0.4em;
      text-align: center;
      width: 100%;
  
      &.hide {
        display: none;
      }
  
      &.success {
        color: green;
      }
  
      &.error {
        color: red;
      }
    }
  }
}
