@use '@core/styles/base';

:root {
  // colors
  --card-background-color: rgb(245, 245, 245);
  --card-header-color: rgb(237, 237, 237);
  --card-box-shadow-color: rgba(0, 0, 0, 0.5);
  --navigation-hover-color: rgb(190, 190, 190);
  --navigation-current-color: rgba(190, 190, 190, 0.8);
  --link-text-color: rgb(70, 140, 40);
  --link-text-color-visited: rgb(70, 140, 40);
  --link-text-color-hover: rgb(90, 160, 50);
  --link-text-color-active: rgb(130, 200, 75);

  --header-color: var(--page-background-color);
  --margin-color: var(--page-background-color);
  --footer-color: var(--card-background-color);
  --header-home-color: var(--card-background-color);
  --footer-home-color: var(--header-home-color);

  // layout styles
  --max-width: 1400px;
  --left-sidebar-width: 10vw;
  --content-card-width: 320px;
  --left-auto-margin: calc(0.5 * max(0px, 100vw - var(--max-width) - var(--left-sidebar-width)));
}

body {
  .ff {
    font-variant: small-caps;
  }
}

body.mobile {
  --content-card-width: min(300px, calc(100vw - var(--left-sidebar-width) - var(--size-large)));
}
