.faith-fact {
  background-color: rgb(255, 245, 235);
  border-radius: 6px;
  margin: 1.2rem 0;
  padding: 3px;
}

.faith-fact .title {
  margin-bottom: 6px;
}

.faith-fact .question {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 6px;
}

.faith-fact .summary {
  display: flex;
  flex-flow: row nowrap;
}

.faith-fact .label {
  margin-right: 0.5em;
}