
<div id="fixed-container">
  <div id="title"></div>
  <cuf-profile-button id="profile-button"></cuf-profile-button>
</div>

<div class="subtitle" id="subtitle-1">Uniting the Faithful from all walks of life</div>
<div class="subtitle" id="subtitle-2">To support, defend, and advance Catholic Teaching</div>

<div id="navigation-container">
  <cuf-navigation-pane
    id="navigation-pane"
    links='["lay_witness", "news", "position_papers", "faith_facts", "jobs_available"]'
  ></cuf-navigation-pane>
</div>
