.container {
    background-color: #dddddd;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 14vh;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 8px;
    z-index: 9;
}

.margin {
    background-color: rgb(120, 120, 255);
    flex: 1 1 0;
}

.site-title {
    background-color: lightgreen;
    flex: 6 1 0;
    display: flex;
    flex-direction: column;
}

.site-title div {
    text-align: center;
}

.title {
    flex: 5 1 0;
    font-size: clamp(14px, 2.2vw, 4.5vh);
    font-weight: bold;
}

.subtitle {
    flex: 3 1 0;
    font-size: clamp(10px, 1.6vw, 2.6vh);
}

.logo {
    position: absolute;
    top: calc(8px + 0.5vh);
    left: calc(8px + 6vw);
    width: 13vh;
    height: 13vh;
}

a {
    outline: none;
}

img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}