.form-field-wrapper {
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.form-field {
  box-sizing: border-box;
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  font-size: var(--page-body-font-size);
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

/* Style 1 */

.form-field-wrapper.styled {
  --box-shadow-color: black;
  --box-shadow-width: 1px;
  --form-field-extra-width: 10px;
  background-color: transparent;
	border-radius: 3px;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px var(--box-shadow-width) var(--box-shadow-color) inset;
	display: block;
	padding: 9px;
  padding-bottom: 12px;
  position: relative;
	margin-bottom: 27px;
}

.form-field-wrapper.styled.focused {
  --box-shadow-color: darkblue;
  --box-shadow-width: 2px;
  background-color: rgb(230, 225, 220);
}

.form-field-label.styled {
  background-color: var(--card-background-color);
	border-radius: 5px;
  display: block;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 14px;
  margin-top: -19px;
  overflow: hidden;
  padding: 2px 5px 2px 5px;
  user-select: none;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea.form-field,
select.form-field,
button.form-field
{
  background-color: transparent;
	box-sizing: border-box;
	border: none;
	border-radius: 5px;
	display: block;
	font-size: 16px;
	height: 25px;
	line-height: 25px;
	outline: none;
	padding: 0;
	width: 100%;
}

.helper-text {
	background-color: rgb(231, 224, 217);
	border: 1px solid black;
	border-radius: 3px;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
  left: 10px;
	margin: 0 -9px -9px -9px;
  padding-left: 2px;
  position: absolute;
  right: 10px;
	text-align: left;
}

input[type="submit"],

input[type="button"]{
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
}

input[type="submit"]:hover,

input[type="button"]:hover{
	background: #6B9FFF;
	color:#fff;
}