sjf-preview-dialog {
  #wrapper {
    background-color: white;
    color: black;
    max-height: 80vh;
    max-width: 80vw;
    overflow: auto;

    #close-button {
      display: block;
      margin-left: auto;
    }

    #preview-container {
      margin-top: 1em;
    }
  }
}
