cuf-contact-form {
  > #form-wrapper {
    > #message {
      margin-top: 0.2em;
    }

    > #laywitness-notice {
      font-size: var(--size-small);
      margin: 1em 15%;
      text-align: center;
      width: 70%;
    }
  }

  > #contact-form-receipt-message {
    font-size: var(--size-large);
  }
}
