.cuf-form-field {
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  width: 100%;

  > #label {
    font-size: var(--size-medium);

    .required-asterisk {
      margin-left: 0.3em;
    }
  }

  > #form-field {
    font-size: var(--size-large);
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  > #helper-text {
    font-size: var(--size-small);
  }
}