select.form-field {
  --child-height: 20px;
  --child-width: calc(100% + 0.5 * var(--form-field-extra-width));
  background-color: var(--card-background-color);
  max-width: var(--child-width);
  min-width: var(--child-width);
  width: var(--child-width);
}

select.form-field:focus {
  background-color: rgb(192, 180, 169);
}

option {
  background-color: var(--card-background-color);
  font-size: 16px;
}

/* // button method
button {
  background-color: var(--card-background-color);
  border: none;
  height: 100%;
  outline: none;
  padding: 0;
  text-align: left;
}

button:active {
  border: none;
  outline:none;
}

button:focus {
  border: none;
  outline:none;
}

#child-container-anchor {
  height: 0px;
  max-height: 0px;
  overflow: visible;
}

#child-container {
  --child-width: calc(100% + 2 * var(--form-field-extra-width));
  --child-height: 20px;
  border: 0.5px solid black;
  box-sizing: border-box;
  left: calc(-1 * var(--form-field-extra-width));
  max-height: calc(10 * var(--child-height) + 3px);
  max-width: var(--child-width);
  min-width: var(--child-width);
  overflow: scroll;
  position: relative;
  width: var(--child-width);
}

button.child {
  font-size: 16px;
  height: var(--child-height);
  max-width: 100%;
  min-width: 100%;
  position: relative;
  width: 100%;
  z-index: 9;
}

button.child:hover {
  background-color: rgb(192, 180, 169);
}*/