// Somehow, this avoids the 'input:-internal-autofill-selected'
// https://stackoverflow.com/a/68240841/18143654
// But not when closing then opening a form :(input:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
}

input:autofill, select:autofill {
  background: transparent; /* or any other */
}

input:-internal-autofill-selected {
  appearance: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
  transition: background-color 600000s 0s, color 600000s 0s;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}
