.container {
  --margin-offset: 0px;
  --header-total-height: calc(var(--header-height-unit) * 5 - var(--margin-offset));
}

.fixed-container {
  background-color: var(--page-background-color);
  flex-direction: row;
  position: fixed;
  top: 0;
  height: calc(var(--header-height-unit) * 2);
  width: 100vw;
  z-index: 9;
}

.title {
  font-size: calc(var(--header-height-unit) * 1.4);
  font-weight: bold;
  margin-top: calc(var(--header-height-unit) * 0.2);
  margin-left: var(--left-margin-size);
  white-space: nowrap;
}

cuf-navigation-pane {
  flex: 1 1 0;
  margin-left: 10vw;
  margin-right: 6vw;
}

.collapsed-container {
  background-color: var(--page-background-color);
  display: flex;
  flex-direction: column;
  height: calc(var(--header-height-unit) * 3);
  margin-top: calc(var(--header-height-unit) * 2);
  top: 0;
  width: 100vw;
}

.subtitle {
  flex: auto;
  font-size: calc(min(var(--header-height-unit) * 1.05, max(14px, 3.5vw)));
  margin-top: calc(var(--header-height-unit) * 0.1);
  margin-left: var(--left-margin-size);
  white-space: nowrap;
}

.margin {
  background-color: transparent;
  height: calc(var(--header-height-unit) * 0.5);
  margin-bottom: var(--margin-size);
  position: fixed;
  top: var(--header-total-height);
  width: 100vw;
  z-index: 8;
}

.logo-container {
  left: calc(0.5 * max(0px, 100vw - var(--max-width) - var(--left-sidebar-width)));
  height: calc(2 * var(--left-sidebar-width));
  position: absolute;
  top: calc(var(--header-total-height) + var(--margin-size));
  width: var(--left-sidebar-width);
}

a {
  display: inline-block;
  outline: none;
  height: 100%;
  width: 100%;
}

img {
  object-fit: scale-down;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}