.container {
  --margin-offset: 0px;
  --header-total-height: calc(var(--header-height-unit) * 5 - var(--margin-offset));
}

.fixed-container {
  background-color: lightgreen;
  position: fixed;
  top: 0;
  height: calc(var(--header-height-unit) * 2);
  width: 100vw;
  z-index: 9;
}

.title {
  font-size: calc(var(--header-height-unit) * 1.4);
  font-weight: bold;
  margin-top: calc(var(--header-height-unit) * 0.2);
  margin-left: var(--left-margin-size);
  white-space: nowrap;
}

.collapsed-container {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  height: calc(var(--header-height-unit) * 3);
  margin-top: calc(var(--header-height-unit) * 2);
  top: 0;
  width: 100vw;
}

.subtitle {
  flex: auto;
  font-size: calc(min(var(--header-height-unit) * 1.05, max(14px, 3.5vw)));
  margin-top: calc(var(--header-height-unit) * 0.1);
  margin-left: var(--left-margin-size);
  white-space: nowrap;
}

.margin {
  background-color: rgb(120, 120, 255);
  height: calc(var(--header-height-unit) * 0.5);
  margin-bottom: 15px;
  position: fixed;
  top: var(--header-total-height);
  width: 100vw;
  z-index: 9;
}

.logo-container {
  left: max(0px, calc(var(--left-margin-size) - calc(var(--header-height-unit) * 3)));
  height: var(--header-total-height);
  position: absolute;
  top: 0px;
  width: min(var(--left-margin-size), calc(var(--header-height-unit) * 3));
}

a {
  display: inline-block;
  outline: none;
  height: 100%;
  width: 100%;
}

img {
  object-fit: scale-down;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}