#login-form {
  margin: 3em auto 2em;
  min-width: 300px;
  width: 75%;
}

#login-form-status-message {
  margin-bottom: 1em;
}

.activate-account {
  box-sizing: border-box;
  border-radius: 1em;
  color: black;
  font-size: 1.2rem;
  padding: 0.15em 0.4em;
  text-decoration: none;
}

.activate-account:hover {
  background-color: rgb(225, 225, 225);
}
