
<div id="fixed-container-height-box">
  <div id="title-container">
    <div id="title"></div>
  </div>
</div>

<div id="logo-container">
  <img id="logo" class="max-size" src="../../../images/logo_header.png" draggable="false">
</div>

<div class="subtitle" id="subtitle-1">Uniting the Faithful from all walks of life</div>
<div class="subtitle" id="subtitle-2">To support, defend, and advance Catholic Teaching</div>

<div id="navigation-container">
  <cuf-navigation-pane id="navigation-pane" links='["about", "news", "contact", "donate"]'></cuf-navigation-pane>
</div>

<div id="profile-button-container">
  <cuf-profile-button id="profile-button"></cuf-profile-button>
</div>
