.card {
  background-color: var(--card-background-color);
  box-shadow: 0 0 6px var(--card-box-shadow-color);
  margin-left: 5px;
  margin-right: 5px;
}

.header {
  position: relative;
  background-color: rgb(221, 200, 180);
  height: 40px;
}

.headerText {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  left: 0.3rem;
  top: 50%;
  margin-top: -14px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 40px;
  max-width: calc(100% - 40px - 0.3rem);
  user-select: none;
  white-space: nowrap;
}

.headerText:hover {
  text-decoration: underline;
  cursor: pointer;
  overflow: visible;
  z-index: 1;
  background-color: rgba(221, 200, 180, 150);
  display: block;
  max-width: max-content;
  width: max-content;
  color: rgb(70, 70, 70);
}

.headerText:active {
  color: rgb(140, 140, 140);
}

.image {
  position: absolute;
  right: 2px;
  top: 52.5%;
  margin-top: -20px;
  height: 100%;
  transform: rotate(180deg);
}

img.arrow-image {
  object-fit: scale-down;
  max-width: 95%;
  max-height: 95%;
  filter: brightness(0%);
}

img.arrow-image:hover {
  filter: brightness(100%);
  cursor: pointer;
}

.content {
  background-color: var(--card-background-color);
  display: block;
}

.content-element {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow-wrap: break-word; /* Chrome, Safari */
  overflow-wrap: anywhere; /* Firefox */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  white-space: pre-wrap;
}

.element-spacer::before {
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  display: block;
  position: relative;
  top: 50%;
}

.element-spacer {
  height: 1.5rem;
  border: none;
}

.element-title {
  text-align: center;
  font-size: larger;
  font-style: italic;
  margin-bottom: 0.7rem;
  white-space: pre-wrap;
  overflow-wrap: break-word; /* Chrome, Safari */
  overflow-wrap: anywhere; /* Firefox */
}

a:not(:focus-visible) {
  outline: none;
}

/* 3D Rotation style */

div.card-wrapper {
  box-shadow: 0 0 6px var(--card-box-shadow-color);
  margin-left: 5px;
  margin-right: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

div.card-rotater {
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 400ms;
  width: 100%;
}

div.card {
  margin-left: 0px;
  margin-right: 0px;
}

img.rotation-image {
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}