<div id="background"></div>

<div id="logo-container">
  <img id="logo" src="../../../images/logo.png">
</div>

<div id="fixed-container">
  <div id="title-container">
    <a href="/"><div id="title"></div></a>
  </div>
  <div id="navigation-container">
    <cuf-navigation-pane id="navigation-bar"></cuf-navigation-pane>
  </div>
</div>

<div id="collapsed-container">
  <div class="subtitle"><em>"To unite the faithful from all walks of life in order to</em></div>
  <div class="subtitle"><em>support, defend and advance the efforts of the teaching Church"</em></div>
</div>

<div id="margin"></div>
