cuf-header {
  --padding-top: 8px;
  --title-height: calc(1.7 * var(--size-largest));
  --navigation-height: calc(2.5 * var(--size-medium));
  --fixed-container-height: max(var(--title-height), var(--navigation-height));
  --subtitle-font-size: var(--size-large);
  --collapsed-container-height: calc(2.6 * var(--subtitle-font-size));
  --scrollY: 0px; // set by component
  --max-offset: var(--collapsed-container-height);
  --margin-offset: min(var(--scrollY), var(--max-offset));
  --header-total-height: calc(var(--padding-top) + var(--fixed-container-height) +
    var(--collapsed-container-height) - var(--margin-offset));

  background-color: var(--header-color);
  display: block;
  
  img {
    object-fit: contain;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
  }
  
  > #logo-container {
    left: var(--left-auto-margin);
    height: calc(2 * var(--left-sidebar-width));
    position: fixed;
    top: calc(var(--header-total-height) + var(--margin-size) + 2em);
    width: var(--left-sidebar-width);
  }

  > #fixed-container {
    background-color: var(--header-color);
    display: flex;
    flex-flow: row nowrap;
    gap: var(--size-title);
    height: var(--fixed-container-height);
    padding-left: calc(var(--left-auto-margin) + var(--padding-top));
    padding-top: var(--padding-top);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9;

    > #title-container {
      align-items: center;
      background-color: var(--header-color);
      display: flex;
      font-size: var(--size-largest);
      height: var(--title-height);

      a {
        color: black;
        text-decoration: none;
      }

      #title {
        color: black;
        text-decoration: none;
      }
    }

    > #navigation-container {
      height: var(--navigation-height);
      margin-top: calc(0.5 * (var(--fixed-container-height) - var(--navigation-height)));
    }
  
    > #profile-button {
      //
    }
  }

  > #collapsed-container {
    height: var(--collapsed-container-height);
    margin-top: calc(var(--padding-top) + var(--fixed-container-height));
    padding-left: calc(var(--left-auto-margin) + var(--padding-top));
    position: relative;
    top: 0;
    width: 100vw;
    z-index: 8;

    .subtitle {
      font-size: var(--subtitle-font-size);
      height: calc(0.5 * var(--collapsed-container-height));
      line-height: calc(0.5 * var(--collapsed-container-height));
    }
  }

  > #margin {
    background-color: var(--margin-color);
    box-shadow: 0 4px 4px var(--card-box-shadow-color);
    height: var(--margin-size);
    position: fixed;
    top: var(--header-total-height);
    width: 100vw;
    z-index: 8;
  }
}

/* navigation panel below header for smaller devices */
/* If change media query must change in navigation_pane.css */
@media only screen and (max-width: 1300px) and (min-width: 701px) {
  cuf-header {
    --title-height: calc(1.7 * var(--size-title));
    --max-offset: calc(var(--padding-top) + var(--collapsed-container-height));
    --fixed-container-height: calc(2 * var(--padding-top) + var(--title-height) + var(--navigation-height));
    padding-bottom: var(--navigation-height);

    > #fixed-container {
      background-color: transparent;
      padding: 0px;

      > #title-container {
        font-size: var(--size-title);
        padding: var(--padding-top) var(--padding-top) 0;
        width: 100%;
      }

      > #navigation-container {
        background-color: var(--header-color);
        box-sizing: border-box;
        flex: 0 0 auto;
        height: calc(var(--padding-top) + var(--navigation-height));
        margin-top: 0px;
        padding: var(--padding-top) 10px 0px;
        position: absolute;
        top: calc(var(--header-total-height) - var(--navigation-height) - var(--padding-top));
        width: 100%;
      }
    }

    > #collapsed-container {
      margin-top: calc(var(--padding-top) + var(--title-height));
    }
  }
}
