sjf-header {
  --navigation-height: calc(2.2 * var(--size-medium));

  display: block;

  > #banner {
    background-color: var(--page-background-color);
    padding: 1.5em 1em 1em;
    text-align: center;

    > #name {
      color: var(--name-color);
      display: block;
      font-size: var(--size-title);
      font-weight: bold;
      text-decoration: none;
    }

    > #mission {
      color: var(--mission-color);
      font-size: var(--size-large);
      margin-top: 0.3em;
    }
  }

  > #nav-bar {
    background-color: var(--nav-bar-color);
    display: flex;
    justify-content: center;
    padding: 0.4em 0;
  }

  > #separator {
    background-color: var(--separator-color);
    height: 4px;
  }
}
